<!DOCTYPE html>
<html>
	<head>
		<title>PCA+ About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
<% include global/head %>
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About Penn Course Alert +</h2>
			<br>
			All features of Penn Course Alert and so much more!
			<p>
			Trade courses – Once advanced registration, the courses in high demand are usually filled up and people end up not getting the courses which they really wanted. However, at the same time, you are willing to give up a course to take another one which someone else is willing to give up for the course you have. But how do these two meet? PENN COURSE ALERT PLUS! With our unique feature of trading courses, you can actually find people who are willing to give up one of the courses you want and take one of the courses you’re looking to give up. All the pains of writing FB posts which no one even reads nowadays and ultimately not finding someone who can trade courses with you are now gone with Penn Course Alert Plus. If you think about it, it’s just like Tinder but for courses :)
			</p>

			<ul>
				<li>Preserve and share notes – Tired of losing important lecture notes and finding it a tedious task to share them with friends? Penn Course Alert Plus solves this problem with ease and finesse. Now, you can -
				</li>
				<li>Convert handwritten notes to PDFs with our state-of-the-art software.
				</li>
				<li>Save and store notes for each course on our cloud for easy access, anywhere, anytime
				</li>
				<li>Share those notes with people who need them via our website
				</li>
				<li>Having ever-accessible, ready-to-share, formalized notes all in one place truly makes Penn Course Alert one of a kind.
				</li>
				<li>But, we thought why stop here? Let’s make PCAP the one-stop education destination for all students! PCAP also offers students the option of selling their textbooks on our website. Just mention the condition of the book, the asking price and your contact information and see the buy offers from underclassmen pouring in! This helps in satisfying needs of both sides – sellers are able to sell their books in an organized, timely manner and buyers are able to get the books at a much cheaper cost as compared to the market price!

				</li>
				<li>Disclaimer: we may or may not have implemented the above features.</li>
			</ul>
			<p>All in all, PCAP proves to be a one-stop educational-needs destination for all students, making course selection, course trading, making organized notes, saving notes, sharing notes, buying and selling textbooks as easy as pie!
			</p>
		</div>
		<br>
		<br>			<br>
					<br>
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
